@import "tailwindcss";

@layer base {
  :root {
    --text: #6b6375;
    --text-h: #08060d;
    --bg: #fff;
    --border: #e5e4e7;
    --code-bg: #f4f3ec;
    
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

    font-family: var(--sans);
    font-size: 18px;
    line-height: 145%;
    letter-spacing: 0.18px;
    color: var(--text);
    background-color: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (max-width: 1024px) {
    :root {
      font-size: 16px;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text: #9ca3af;
      --text-h: #f3f4f6;
      --bg: #16171d;
      --border: #2e303a;
      --code-bg: #1f2028;
    }
  }

  body {
    margin: 0;
  }

  h1, h2 {
    font-family: var(--heading);
    font-weight: 500;
    color: var(--text-h);
  }

  h1 {
    font-size: 56px;
    letter-spacing: -1.68px;
    margin: 32px 0;
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 36px;
      margin: 20px 0;
    }
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}
